div {
/* background-image: 
    radial-gradient(rgb(255, 255, 255) 12%, transparent 16%),
    radial-gradient(rgb(255, 255, 255) 12%, transparent 16%);
  background-position: 0px 0px, 24px 24px;
  background-size: 48px 48px;
  background-color: rgb(2, 1, 72);

  height: auto; */
  
}